<button mat-fab color="accent" [routerLink]="'/main-page'"
    aria-label="Back button">
  <mat-icon>arrow_left</mat-icon>
</button>
<div class="mat-elevation-z8 starship-container">
  <div class="starship-container-loading-shade"
      *ngIf="isLoadingResults">
    <mat-spinner color="accent" *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="starship-container-table">
    <table mat-table [dataSource]="spaceshipElements">

      <ng-container [matColumnDef]="col.columnDef" *ngFor="let col of columns">
        <th mat-header-cell *matHeaderCellDef>{{col.header}}</th>
        <td mat-cell *matCellDef="let element">{{col.cell(element)}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="openStarship(row)"></tr>
    </table>
  </div>
  <div class="starship-container-pagination d-flex">
    <p class="starship-container-pagination-page">
      Page: <span>{{pageIndex}}</span>
    </p>
    <div class="starship-container-buttons">
      <button mat-stroked-button color="accent"
          class="starship-container-btn"
          [disabled]="!hasPrev"
          (click)="previousPage()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
          arrow_left
        </mat-icon>
      </button>
      <button mat-stroked-button color="accent"
          class="starship-container-btn"
          [disabled]="!hasNext"
          (click)="nextPage()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
          arrow_right
        </mat-icon>
      </button>
    </div>
  </div>
</div>