<button mat-fab color="accent" [routerLink]="'/spaceship'"
    aria-label="Back button">
  <mat-icon>arrow_left</mat-icon>
</button>
<div class="vehicle-page">
  <mat-card class="vehicle-container">
    <div class="vehicle-container-loading-shade"
        *ngIf="isLoadingResults">
      <mat-spinner color="accent" *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <mat-card-header *ngIf="!isLoadingResults">
      <img src="../../../assets/img/sw-logo.png" alt="StarWars Logo" class="logo-image-sw">
      <mat-card-title>{{vehicle.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="!isLoadingResults">
      <img src="../../../assets/img/spaceship-bg.jpeg" alt="StarWars Bg" class="logo-image">
      <h3 class="more-features-title">More features:</h3>
      <p class="more-features">Crew: <span>{{vehicle.crew}}</span></p>
      <p class="more-features">Passengers: <span>{{vehicle.passengers}}</span></p>
      <p class="more-features">Consumables: <span>{{vehicle.consumables}}</span></p>
      <p class="more-features">Cost in credits: <span>{{vehicle.cost_in_credits}}</span></p>
      <h3 class="more-features-moredescription">Description:</h3>
      <p class="more-features-description">
        {{vehicle.name}} has a cargo capacity of {{vehicle.cargo_capacity}}, the manufacturer is {{vehicle.manufacturer}} and the model is {{vehicle.model}}.
        It has {{vehicle.pilots.length}} pilots.
      </p>
      <div *ngIf="pilots.length > 0">
        <h3 class="more-features-title">Pilots:</h3>
        <p *ngFor="let pilot of pilots" class="more-features-description">
          {{pilot}}
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>